/* You can add global styles to this file, and also import other style files */
@import './app/task-manager/task-manager.component.css';


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
